.box {
}

.invisible {
	display: none;
}

.titleContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #eeeeee;
	margin: 0px 0px 0px 0px;
	padding: 5px 5px;
	border-radius: 5px;

	.title {
		font-size: 2.5em;
		display: inline-block;
		padding: 10px 0px;
		max-width: 250px;
		text-align: center;
		word-wrap: break-word;
	}

	.rightItems {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.number {
			display: inline-block;
			margin: 0px 5px;
			padding: 5px;
			border-radius: 5px;
			font-size: 2em;
			color: #777777;
		}
		
		.light {
			display: inline-block;
			margin: 0px 5px;
			padding: 5px;
			border-radius: 5px;
			font-size: 1.5em;
			color: white;
			cursor: pointer;
			box-shadow:inset 0 0 0 99999px rgba(255,255,255,0);
			animation: fadeOutLightFont 0.7s;
		}
		.light:hover {
			box-shadow:inset 0 0 0 99999px rgba(255,255,255,0.5);
			animation: fadeInLightFont 0.7s;
		}
	
		.red {
			background-image: linear-gradient(#ff548e, #de0519)
		}
	
		.orange {
			background-image: linear-gradient(#ffd149, #dc930d);
		}
	
		.green {
			background-image: linear-gradient(#8bc34a, #009688);
		}
	
		.functionIcon {
			font-size: 3em;
			color: #777777;
			cursor: pointer;
			margin: 0px 1px;
		}

		.functionIcon:hover {
			color: #000000;
		}
	}
}

@keyframes fadeInLightFont {
	0% {
		box-shadow:inset 0 0 0 99999px rgba(255,255,255,0);
	}
	100% {
		box-shadow:inset 0 0 0 99999px rgba(255,255,255,0.5);
	}
}

@keyframes fadeOutLightFont {
	0% {
		box-shadow:inset 0 0 0 99999px rgba(255,255,255,0.5);
	}
	100% {
		box-shadow:inset 0 0 0 99999px rgba(255,255,255,0);
	}
}


.content {
	.leftBox {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		min-height: 10px;
	
		.minusItemIcon {
			font-size: 2.5em;
			color: green;
			cursor: pointer;
		}
		.addItemIcon {
			font-size: 2.5em;
			color: red;
			cursor: pointer;
		}
	}
	.childContainer {
		margin-bottom: 10px;
		margin-left: 50px;
	}
}

@media screen and (max-width: 500px) {
	.titleContainer {
		padding: 2px 2px;
	}
}

