.box {
	display: block;
}

.titleContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #eeeeee;
	margin: 0px 0px 0px 0px;
	padding: 0px 5px;
	border-radius: 5px;
	.title {
		font-size: 3em;
		display: inline-block;
		padding: 10px 0px;
		// min-width: 60%;
		text-align: center;
	}
	
	.light {
		display: inline-block;
		margin: 0px 5px;
		padding: 5px;
		border-radius: 5px;
		color: white;
		cursor: pointer;
	}

	.red {
		background-image: linear-gradient(#ff548e, #de0519)
	}

	.orange {
		background-image: linear-gradient(#ffd149, #dc930d);
	}

	.green {
		background-image: linear-gradient(#8bc34a, #009688);
	}

	.functionIcon {
		font-size: 3em;
		color: #777777;
		cursor: pointer;
		:hover {
			color: #ff4444;
		}
	}
}


.content {
	.leftBox {
		display: flex;
		align-items: center;
		justify-content: flex-start;
	
		.minusItemIcon {
			font-size: 2.5em;
			color: green;
			cursor: pointer;
		}
		.addItemIcon {
			font-size: 2.5em;
			color: red;
			cursor: pointer;
		}
	}
	.childContainer {
		margin-bottom: 10px;
		margin-left: 50px;
	}
}

