.seriesBoxContainer {
	display: flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
	margin: 10px;
	padding: 10px 0px;
	border: 3px solid #024e80;
	border-radius: 15px;
}

.seriesBox {
	display: flex;
	justify-content: flex-start;
	flex-direction:column;
	margin-top: 10px;
	width: 80%;
}

.itemsArea {
	margin: 0px 0px 15px 0px;
}

.functionBar {
	width: 100%;
	height: 50px;
	display:flex;
	justify-content: center;
	align-items:center;

	.mainFuncIcon {
		display: inline-block;
		padding: 10px;
		margin: 5px;
		color: white;
		font-size: 2em;
		border-radius: 15px;
		cursor: pointer;
		animation: shrinkFont 0.3s;

	}
	.mainFuncIcon:hover {
		font-size: 2.4em;
		animation: enlargeFont 0.3s;
	}

	.redGradient {
		background-image: linear-gradient(#ff9497, #f15252);
	}

	.orangeGradient {
		background-image: linear-gradient(#ffd145, #FF9800);
	}

	.greenGradient {
		background-image: linear-gradient(#aef162, #4CAF50);
	}
}

@keyframes enlargeFont {
	0% {
		font-size: 2em
	}
	100% {
		font-size: 2.4em
	}
}

@keyframes shrinkFont {
	0% {
		font-size: 2.4em
	}
	100% {
		font-size: 2em
	}
}
