.outsider {
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
}

.invisible {
	display: none;
}

.pleasLoginContainer {
	width: 1000px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding: 10px 0px;
	border: 3px solid #024e80;
	border-radius: 15px;
	min-height: calc(100vh - 80px);
	margin: 10px;

	.loginMessage {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		border-radius: 5px;
		border: 3px solid #024e80;
		width: 100px;
		height: 50px;
		background-color: #024e80;
		// color: white;
		// font-size: 3em;
	}
}

.seriesBoxContainer {
	width: 1000px;
	position: relative;
	display: flex;
	flex-direction:column;
	// justify-content: center;
	align-items: center;
	margin: 10px;
	padding: 10px 0px;
	border: 3px solid #024e80;
	border-radius: 15px;
	min-height: calc(100vh - 80px);
	z-index: 1;

	.statusFilterBox {
		position: absolute;
		display: inline-flex;
		top: 10px;
		left: 10px;
		justify-content: space-around;
		width: 120px;
		height: 40px;

		.statusFilterButton {
			display: inline-flex;
			width: 35px;
			height: 35px;
			justify-content: center;
			align-items: center;
			border-radius: 35px;
			color: white;
			cursor: pointer;
			font-size: 1.8em;
		}
		.statusFilterButtonPicked {
			display: inline-flex;
			width: 35px;
			height: 35px;
			justify-content: center;
			align-items: center;
			border-radius: 35px;
			color: #024e80;
			cursor: pointer;
			font-size: 1.8em;
			border: 2px solid  #024e80;
		}
		.statusFilterButton:hover {
			color: yellow;
		}
	}

	.seriesBox {
		display: flex;
		justify-content: flex-start;
		flex-direction:column;
		margin-top: 10px;
		width: 80%;
		max-width: 600px;
	}
}


.itemsArea {
	margin: 0px 0px 15px 0px;
}

.h1Title {
	text-align: center;
	font-size: 3em;
}

.functionBar {
	display: flex;
	width: 100%;
	height: 40px;
	display:flex;
	justify-content: center;

	.mainFuncIcon {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		padding: 0px 10px;
		margin: 5px;
		color: white;
		font-size: 1.8em;
		border-radius: 10px;
		cursor: pointer;
		animation: shrinkFont 0.3s;
		-webkit-animation: none;

	}
	.mainFuncIcon:hover {
		font-size: 2.0em;
		animation: enlargeFont 0.3s;
		-webkit-animation: none;
	}
}

.redGradient {
	background-image: linear-gradient(#ff9497, #f15252);
}

.orangeGradient {
	background-image: linear-gradient(#ffd145, #FF9800);
}

.greenGradient {
	background-image: linear-gradient(#aef162, #4CAF50);
}

@keyframes enlargeFont {
	0% {
		font-size: 2em
	}
	100% {
		font-size: 2.4em
	}
}

@keyframes shrinkFont {
	0% {
		font-size: 2.4em
	}
	100% {
		font-size: 2em
	}
}

@media screen and (max-width: 500px) {
	.seriesBoxContainer {
	
		.statusFilterBox {
			width: 100px;
			height: 30px;
			top: 5px;
			left: 5px;
	
			.statusFilterButton {
				width: 30px;
				height: 30px;
				border-radius: 25px;
			}
			.statusFilterButtonPicked {
				width: 30px;
				height: 30px;
				border-radius: 25px;
			}
		}
	}
}
